RewriteEngine On

# If the request is exactly /api/events or /api/events/
RewriteRule ^/?$ index.php [QSA,L]

# If the request is /api/events/{id} where id is numeric
RewriteRule ^([0-9]+)/?$ item.php?id=$1 [QSA,L]
